<footer class="footer">
    <div class="container">
        <span class="text-muted">&copy; {{ site.time | date: '%Y' }} {% if site.author %}{{ site.author | escape }}{% else %}{{ site.title | escape }}{% endif %} - <small> Powered by <a href="https://jekyllrb.com">Jekyll</a> &amp; <a href="https://gitlab.com/blatt/jekyll-theme-exon">eXon Theme</a></small></span>
    </div>
</footer>

