<div class="container">
<nav class="navbar navbar-expand-sm navbar-light bg-faded">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#nav-content" aria-controls="nav-content" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                        </button>
    
        <!-- Brand -->
        <a class="navbar-brand" href="{{ site.url }}"><img src="{{'/assets/logo.svg' | absolute_url}}" alt="SVG mit img Tag laden" width="50" height="50"> </a>
    
        <!-- Links -->
        <div class="collapse navbar-collapse" id="nav-content">
            <ul class="navbar-nav">
                {% for page in site.pages %} {% if page.title %}
                    <li class="nav-item"><a class="nav-link" href="{{ page.url | prepend: site.baseurl }}">{{ page.title | upcase }}</a></li>
                    {% endif %} {% endfor %}
                    <!-- <li class="nav-item"> <a class="nav-link" href="{{ "/blog" | prepend: site.baseurl }}">Blog</a></li> -->
            </ul>
        </div>
    </nav>
</div>