$color_1: #C1C2C3;
$color_2: #2e3436;
$color_3: #eeeeec;
$color_4: #babdb6;
$color_5: #2c3032;
$color_6: #e3e7df;
$color_7: #888a85;
$color_8: #8D9684;
$color_9: #729fcf;
$color_10: #E9A94B;
$color_11: #689F38;
$color_12: #989DAA;
$color_13: #fff;
$background_color_1: #ffc;
$background_color_2: #0e1416;
$background_color_3: #c00;
$background_color_4: #1f2b2d;
$background_color_5: #2c3032;

/* 
  Darkly Pygments Theme
  (c) 2014 Sourcey
  http://sourcey.com
*/
.highlight {
	white-space: pre;
	overflow: auto;
	word-wrap: normal;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	padding: 20px;
	background: #343642;
	color: $color_1;
	.hll {
		background-color: $background_color_1;
	}
	.gd {
		color: $color_2;
		background-color: $background_color_2;
	}
	.gr {
		color: $color_3;
		background-color: $background_color_3;
	}
	.gi {
		color: $color_4;
		background-color: $background_color_4;
	}
	.go {
		color: $color_5;
		background-color: $background_color_5;
	}
	.kt {
		color: $color_6;
	}
	.ni {
		color: $color_7;
	}
	.c {
		color: $color_8;
	}
	.cm {
		color: $color_8;
	}
	.c1 {
		color: $color_8;
	}
	.cs {
		color: $color_8;
	}
	.err {
		color: $color_1;
	}
	.g {
		color: $color_1;
	}
	.l {
		color: $color_1;
	}
	.n {
		color: $color_1;
	}
	.x {
		color: $color_1;
	}
	.p {
		color: $color_1;
	}
	.ge {
		color: $color_1;
	}
	.gp {
		color: $color_1;
	}
	.gs {
		color: $color_1;
	}
	.gt {
		color: $color_1;
	}
	.ld {
		color: $color_1;
	}
	.s {
		color: $color_1;
	}
	.nc {
		color: $color_1;
	}
	.nd {
		color: $color_1;
	}
	.ne {
		color: $color_1;
	}
	.nl {
		color: $color_1;
	}
	.nn {
		color: $color_1;
	}
	.nx {
		color: $color_1;
	}
	.py {
		color: $color_1;
	}
	.ow {
		color: $color_1;
	}
	.w {
		color: $color_1;
	}
	.sb {
		color: $color_1;
	}
	.sc {
		color: $color_1;
	}
	.sd {
		color: $color_1;
	}
	.s2 {
		color: $color_1;
	}
	.se {
		color: $color_1;
	}
	.sh {
		color: $color_1;
	}
	.si {
		color: $color_1;
	}
	.sx {
		color: $color_1;
	}
	.sr {
		color: $color_1;
	}
	.s1 {
		color: $color_1;
	}
	.ss {
		color: $color_1;
	}
	.bp {
		color: $color_1;
	}
	.k {
		color: $color_9;
	}
	.kc {
		color: $color_9;
	}
	.kd {
		color: $color_9;
	}
	.kn {
		color: $color_9;
	}
	.kp {
		color: $color_9;
	}
	.kr {
		color: $color_9;
	}
	.nt {
		color: $color_9;
	}
	.cp {
		color: $color_10;
	}
	.gh {
		color: $color_10;
	}
	.gu {
		color: $color_10;
	}
	.na {
		color: $color_10;
	}
	.nf {
		color: $color_10;
	}
	.m {
		color: $color_11;
	}
	.nb {
		color: $color_11;
	}
	.no {
		color: $color_11;
	}
	.mf {
		color: $color_11;
	}
	.mh {
		color: $color_11;
	}
	.mi {
		color: $color_11;
	}
	.mo {
		color: $color_11;
	}
	.il {
		color: $color_11;
	}
	.o {
		color: $color_12;
	}
	.nv {
		color: $color_13;
	}
	.vc {
		color: $color_13;
	}
	.vg {
		color: $color_13;
	}
	.vi {
		color: $color_13;
	}
}
