// CUSTOM VARIABLES
// Custom colors
$apple: #689F38;
$pampas: #faf9f7;
$tundora: #444;

// Custom settings
$body-bg: $pampas;
$body-color: $tundora;
$custom-font-size: 18px;
$primary: $apple;

// Typo settings
$font-family-sans-serif:      'Merriweather Sans', sans-serif;
$font-family-serif:           'Merriweather', serif;
$font-family-monospace:       'Inconsolata', monospace;
$font-family-base:            $font-family-serif;
$headings-font-family:        $font-family-sans-serif;
$headings-font-weight:        700;


@import "../node_modules/bootstrap/scss/functions";
@import "../node_modules/bootstrap/scss/variables";
