---
---

@import 'variables';
@import 'syntax-highlighting';
@import 'bootstrap/scss/bootstrap';

.content {
  font-size: $custom-font-size;
}

// STICKY FOOTER
html {
  min-height: 100%;
  position: relative;
}

body {
  //font-family: $font-family-serif;
  // Margin bottom by footer height
  margin-bottom: 60px;
}

.footer {
  bottom: 0;
  // Set the fixed height of the footer here
  height: 60px;
  // Vertically center the text there
  line-height: 60px;
  position: absolute;
  width: 100%;
  // background-color: #f5f5f5;
}