<!doctype html>
<html lang="{{ page.lang | default: site.lang | default: "de" }}">
  
<head>
    {% include head.html %}
  </head>
  <body>
      {% include header.html %}

      <main role="main" class="container">
          {{ content }}
      </main>
  
      {% include footer.html %}
      <!-- Optional JavaScript -->
      <!-- jQuery first, then Popper.js, then Bootstrap JS -->
      <script src="{{'/assets/vendor/jquery.min.js' | absolute_url}}"></script>
      <script src="{{'/assets/vendor/popper.min.js' | absolute_url}}"></script>
      <script src="{{'/assets/vendor/bootstrap.min.js' | absolute_url}}"></script>
  </body>
</html>


